body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #ffcc00;
    padding:auto;
    text-align: center;
}

.logo {
    max-width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.promocion {
    position: relative;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    margin: 20px auto;
    height: 500px;
    }

.imagenes {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* 100% por cada imagen */
}

.imagen {
    width: 50%;
    flex-shrink: 0;
}

.botones {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.boton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

section {
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}
.texto-imagen {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.texto-imagen img {
    max-width: 10%; /* Ajusta el tamaño de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
.texto-imagen {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.texto-imagen img {
    max-width: 50px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
