/* Resetear */
* {
    margin: 0px;
    padding: 0px;
}
/* Centrar el contenido de la pagina */
body {
    text-align: center;
    background-color: blue;color: white;
}
/* Centrar el contenido de la pagina */
#agrupar {
    width: 980px;
    margin: 50px auto;
    background-color: blue;
    padding: 20px;
}
/* Convertir lista desordenada en barra de menu */
#menu {
    background: #000;
    padding: 5px 15px;
}
#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
#section {
    float: left;
    width: 660px;
    margin: 20px;
    border-right: 2px white;
}
.columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #ccc;
}
.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
/* Formato del contenido de la pagina web */
#cabecera {
    background-color: white;color: black;
}
/* estilo para los enlaces */
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: yellowgreen;
}
























